body {
  background-color: white;
  color: black;
  font-family: 'Segoe UI', sans-serif;
}

.topnav {
  background-color: #333;
  color: aliceblue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #330606;
  color: black;
}

.topnav a.active {
  background-color: #F00;
  color: white;
}

.topnav .logo:hover {
  background-color: #330606;
  color: black;
}

.topnav img {
  content: url('../images/logo_dark.png');
  height: 26px;
  width: auto;
  position: relative;
  transform: translateZ(0);
}


section {
  display: block;
}
.section {
  width: 50%;
  height: 50%;
}
svg {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

g {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  --animate-duration: 0.5s;
}

g:active {
  animation: shrink 0.1s ease-in forwards; 
}

g:not(:active) {
  animation: grow 0.1s ease-in forwards;
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9) translate(15px, 15px);
  }
}

@keyframes grow {
  from {
    transform: scale(0.9) translate(15px, 15px);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 600px;
  border:solid 1px #00F
}

.game-container {
  float: left;
  padding: 20px;
  width: 50%;
  height: 100%;
  border:solid 1px #F00
}

.word-container {
  float: right;
  margin: 20px;
  width: 50%;
  border:solid 1px #0F0
}

.guess-container{
  float: bottom;
  width: auto;
  height: 30px;
  padding: 5px;
  border:solid 1px #FF0;
}

#guesses {
  text-align: center;
  font: bold 24px sans-serif;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}

#popup {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -12.5%;
  margin-top: -10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  padding: 10px;

  text-align: center;
  font: bold 24px sans-serif;
  color: white;
}

button {
  background-color: rgb(175, 4, 4, 0.5);
  color: white;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252525;
    color: white;
    font-family: 'Segoe UI', sans-serif;
  }
  .topnav img {
    content: url('../images/logo_dark.png');
  }
}

@media only screen and (max-width: 800px) {
  .main-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .game-container {
    float: top;
    margin: 20px;
    width: 100%;
    height: 100%;
    border:dashed 1px #F00
  }
  .word-container {
    float: bottom;
    margin: 0px;
    width: 100%;
    border:dashed 1px #0F0
  }
  .button-container {
    width: 100%;
    margin-left: 0;
  }
  br{content:'   ';}
  br:after{content:'   ';}
}